
html{
  background-color: rgba(7, 35, 56, 0.964);
  justify-content: center;
  color: blueviolet;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}
#gamesboard-container{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.game-board{
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;

}

.option-container {
  width: 500px;
  height: 60px;
  background-color: yellow;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.destroyer {
  background-color: brown;
}

.submarine{
  background-color: green;
}
.cruiser{
  background-color: rebeccapurple;
}
.battleship{
  background-color: orange;
}

.carrier{
  background-color: blue;
}


.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine-preview{
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship-preview{
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}


.block{
  width: 20px;
  height: 20px;
  border: solid black 1px;
  box-sizing: border-box;
  
}

.hover{
  background-color: rgb(133, 130, 130);
}
#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
background-color: pink;



}
.boom{
  background: red !important;
}

.empty{
  background-color: grey !important;
}